@charset "UTF-8";
/*importações*/
@font-face {
    font-family: androido;
    src: url(idroid.otf);
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik+Iso&display=swap');

/*
paleta de cores que usaremos nesse site:

#c5ebd5 -> verde clarinho
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e >- verde escuro (quase preto, mas com um tonzinho de verde)


usaremos variaveis pela primeira vez:
*/

:root{
    --cor0: #c5ebd5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontepadrão: Arial, Helvetica, Verdana, sans-serif;
    --fontedestaque: 'Bebas Neue', sans-serif;
    --fontandroid: 'androido', cursive; /*nunca se esqueça de colocar a fonte cursive no final, pois ela é generica, e se o navegador não carregar a fonte android vai carregar a cursive*/
    /*quando você usar um atributo de cores, e scrollar pra baixo, você achará as variaveis que você criou, e suas respectivas cores*/

}

*{
    /*essa configuração por ser global afeta todos os elementos*/
    margin: 0px;
    padding: 0px;
    /*como pode perceber essa configurações remove os espaçamentos externos e internos de todos os elementos. 
    - vai deixar todas as caixas grudadinhas, e isso é bom pois agora poderemos configurar parte por parte e organizar o conteúdo do nosso site*/
}
div.videos{ /*classe videos*/
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px; /*para não deixar o vídeo colado na caixa de baixo*/
    position: relative;
    padding: 20px;
    padding-bottom: 55.5%; /*use isso para a div não ficar cortada (procure a porcentagem correta para que não fique bordas pretas em volta do vídeo)*/
}
div.videos > iframe{ /*essa é a gambiarra que usaremos, apenas será aplicado para as divs com a classe de "videos"*/
    position: absolute;
    /*quando declaramos posicionamente absoluto, devemos mexer com top e left*/
    top: 5%;
    left: 5%;
    /*já que a posição está absoluta, também conseguimos configurar o height e o width:*/
    height: 90%; /*coloque valores em porcentagem*/
    width: 90%;
}
body{
    background-color: var(--cor0); /*a cor de fundo será o verde mais claro*/
    font-family: var(--fontepadrão); /*variavel de fonte padrão*/

}
a.externo::after{
    /*todo link externo terá um simbolo de link, só que depois*/
    content: '🔗';
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 180px;
    padding-top: 45px;
}
header > h1{ /*para cada h1 dentro de cabeçalho*/
    color: white; /*cor branca fica melhor no titulo*/
    font-family: var(--fontedestaque); /*não use a fonte android no h1 do cabeçalho, e sim a fonte de destaque*/
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 33px;
    text-shadow: 5px 2px 1px rgba(0, 0, 0, 0.553)
}
header > p{
    color: white;
    text-align: center;
    font-size: 1.2em;; /*aumenta o tamanho do paragrafo contido no header*/
    max-width: 600px; /*essa linha transforma o paragrafo em bloco*/
    margin: auto; /*centraliza o bloco de parágrafo*/
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 10px black;
}
nav{
    background-color: var(--cor5);
    margin: auto;
    padding-bottom: 11px; /*deixar mais gordinho*/
    text-align: center;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.586);
}
nav > a{ /*tira o underline somente dos links dentro do menu de navegação*/
    text-decoration: none; /*remove underline*/
    color: white;
    margin: 15px;
    border-radius: 3px;
    font-weight: bold; /*negrito pra deixar o menu mais atrativo*/
    transition-duration: 0.5s;
}
nav > a:hover{
    text-decoration: underline;/*adiciona underline quando clicado*/
    background-color: var(--cor2);
}
main{
    /*agora, iremos adaptar o conteúdo principal*/
    background-color: white;
    min-width: 300px;
    max-width: 1000px; /*essa configuração faz o conteúdo parar de crescer quando passar de 1000px de largura, mas vai adaptar o site quando tiver entre 300 e 1000*/
    /*a configuração que fizemos aqui já vai adaptar o conteúdo, só não vai adaptar as imagens*/
    margin: auto; /*margin auto faz com que nosso site seja visto em tvs maiores(telas cheias) sem que a margin cresça*/
    margin-bottom: 25px; /*pode deixar entre 25-30px*/
    padding: 30px; /*use essa linha caso não queira que os elementos fiquem colados um no outro*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    border-radius: 0px 0px 10px 10px;
}
main p{
    /*adicionando margin pro paragrafo não ficar feio*/
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    
    /*só de fazer isso, criamos uma margin em cima em baixo para todos os paragrafos não ficarem grudados em outros elementos*/
}
main img{
    width: 100%; /*independente do conteúdo, as imagens dentro de main ficarão com 100% de largura*/
}
main img.pequena{ /*classe que afeta apenas as imagens dentro do conteúdo main*/
    max-width: 350px;
    margin: auto; /*isso daqui deveria centralizar a imagem, mas não vai centralizar, pois imagens por padrão não são blocos.*/
    display: block; /*tornamos a imagem em um bloco, agora ele poderá ser centralizado usando o margin auto*/
}
main h1{ /*para cada h2 dentro de main*/
    color: var(--cor4); /*cor verde escuro*/
    font-family: var(--fontandroid); /*todo h1 do conteúdo principal terá fonte android*/
}
main h2{
    color: var(--cor5); /*esse h2 terá a o ton mais escuro*/
    font-family: var(--fontandroid); /*também terá fonte android*/
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 4px; /*2 px em cima, e nas laterais 4px*/
}
main a{
    padding: 1px;
    background-color: var(--cor3);
    text-decoration: none;/*tira underline*/
    font-weight: bold;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
aside{
    background-color: var(--cor1);
    border-radius: 20px;
    padding: 15px; /*engorda a caixa*/
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px; /*engorda e deixa mais bonito*/
    border-radius: 10px 10px 10px 10px; 
    margin: -10px -10 0px 0px;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.529);
}
aside > ul{ /*somente as listas dentro de aside*/
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}
footer a{/*todos os links que estiverem contidos dentro do cabeçalho, independente de sua localização:*/
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor0);
    text-decoration: underline;
}
footer{
    background-color: var(--cor5);
    text-align: center;
    color: white; /*letra branca*/
    font-size: 0.9em;
    padding: 3px; /*deixa o rodapé mais gordinho*/

}
.special::before{
    content: '✁';
    font-weight: normal;

}
.special::after{
    content: '✃';
    font-weight: normal;
}
